
/vendor
/node_modules

.env
.env.*
.phpunit.result.cache

/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
/public/hot
/public/storage
/public/mix-manifest.json
/public/js/*.js
/public/css/*.css

.DS_Store
Thumbs.db

composer.lock
package-lock.json
yarn.lock
npm-debug.log
